body{
    width: 800px;
    border: 1px solid black;
    margin: auto;
}
input,label{
    display: inline-block;
    margin-top:10px;
    width: 300px;
    box-sizing: border-box;
}
input{
    width: 400px;
}
fieldset{
    padding: 20px;
    margin: 20px;
border-color: red;
}
legend{
    color: red;
}
input[type="submit"],input[type="reset"]{
    width: 400px;
    color: black;
    background-color: white;
}
label{
    vertical-align: top;
}
input[type="range"]{
    width: 300px;
}
